<p>

    Email: <br>
    <input type="text" [formControl] ="emailCtrl">
    
</p>

<p *ngIf="emailCtrl.errors && emailCtrl.dirty">
    <small *ngIf="emailCtrl.hasError('required')">El campo es requerido</small>

    <small *ngIf="emailCtrl.hasError('maxlength') ">Debe contener maximo 10 cracteres</small>

    <small *ngIf="emailCtrl.hasError('minlength') ">debe contener minimo 5 caracteres</small>
</p>

<button [disabled]="emailCtrl.invalid" type="button" (click)="getEmail($event);">Guardar</button>